body {
    color: #858b91;
    margin: 20px;
}

header {
    display: flex;
    align-items: center;
    height: 0%;
}
header h2 {
    min-width: 33%;
    margin: auto 1em auto 0;
}

header button {
    font-weight: 600;
    min-width: 33%;
    margin: 0;
    padding: 1em 1em;    
    text-overflow: clip;
    background-color: #CCD4DC;
    color: #858b91;
    border-radius: 0.5em;
    border: 0;
    outline: none;
}

header button:active{
    background-color: #adb4bb;
}

header button img {
    display: none;
    height: 2em;
    width: auto;
}

.container {
    margin: 1em 0;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}


.infoblock-extended{
    height: 18em;
    width: 48%;
    min-width: 280px;
    margin: 1em 0;
}

.infoblock {
    height: 15em !important; 
    width: 48%;
    min-width: 280px;
}

.main {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.main h1{
    width: 100%;
    align-self: flex-start;
    margin: 0;
    font-size: 2.5em;
}

.main img {
    width: auto;
    height: 60%;
}

.main span {
    font-size: 4em;
}

.details {
    padding: 0;
}

.details ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    height: 100%;

    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.details ul li {
    background-color: #adb4bb;
    color: #e1e7e9;
    height: 15%;
    padding: 0 1em;

    display: flex;
    justify-content: space-between;
    align-items: center;
}
.details ul li h4 {
    color: white;
    display: inline;
    margin: 0;

}
.details ul li span {
    float: right;
}

.favorite {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.favorite h2 {
    margin: 10px 0;
    font-size: 2em;
}

.favorite div {
    display: flex;
    justify-content: space-between;
    width: 35%;
}

.additional {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0.5em 0;
}

.additional h2{
    display: inline;
    font-size: 2em;
    font-weight: 600;
    margin: 0;
}

.additional div {
    display: flex;
    justify-content: space-between;
}

.additional div span{
    font-size: 2em;
}

.additional div img{
    height: 2em;
    width: auto;
}

input {
    margin: 0;
    width: 80%;
    background-color: #e1e7e9;
    outline: none;
    border: none;
    padding: 0.5em 1em;
    color: #858b91;
    font-weight: 600;
}

input::placeholder {
    color: #adb4bb;
}

.round-button {
    width: 1.5em;
    height: 1.5em;
    padding: 0;
    color: white;
    background-color: #576574;
    font-size: 150%;
    border: none;
    border-radius: 50%;
}

.favorite-list ul{
    list-style-type: none;
    padding: 0;
    margin: 0;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.favorite-list ul li {
    padding: 0;
}

@media (max-width: 740px) {
    .infoblock {
        width: 100%;
    }

    .infoblock-extended {
        width: 100%;
    }

    .details {
        font-size: 85%;
    }

    .favorite div {
        width: 100%;
    }
}



@media (max-width: 400px) {
    header {
        justify-content: space-between;
    }
    header button img {
        display: inline;
    }
    header button  {
        min-width: 10%;
        padding: 1%;
        margin: 0;
    }
    header button span {
        display: none;
    }
}
